*{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
/*------------------->Background*/
.background{
  width: 100%;
  height: 100vh;
  background-color: #dde1e7;
}
/*------------------->Side corners*/
.upperCorner, .lowerCorner{
  width: 275px;
  position: relative;
  z-index: 1;
}
.upperCorner{
  transform: translate(30%,0%) rotate(-90deg);
}
.lowerCorner{
  transform: translate(290%,115%) rotate(90deg);
  position: relative;
  z-index: 1;
}
/*------------------->Introduction*/
.greeting{
  color: #626262;
  font-size: 30px;
  position: absolute;
  z-index: 2;
  left: 18%;
  top: 25%;
}
.name{
  color: #626262;
  font-size: 72px;
  position: absolute;
  top: 28%;
  left: 17.8%;
}
.skill{
  color: #626262;
  font-size: 21px;
  position: absolute;
  left: 18%;
  top: 43%;
  word-spacing: 1vw;
  letter-spacing: 1.05vw;
}
/*------------------->Icons*/
 .outerBox{
  display: inline-block;
  margin-left: 60%;
  margin-top: 12%;
  position: absolute;
  z-index: 2;
}
.icons{
  display: flex;
  width: 30rem;
  height: 3.5rem;
  justify-content: space-evenly;
  font-size: 2rem;
  border-radius: 30px;
  align-items: center;
}
.icons a{
  box-shadow:  5px 5px 10px #afa9cb,
  -5px -5px 10px #f1e9ff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.btnPress{
  box-shadow: inset 7px 7px 14px #b3add0,
  inset -7px -7px 14px #ede5ff;
}
.fa-facebook {
  color: #3b5998;
}
.fa-x-twitter {
  color: #000000;
}
.fa-instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fa-whatsapp {
  color: #25d366;
}
.fa-linkedin-in {
  color: #0e76a8;
}
.fa-github {
  color: #211f1f;
}
.fa-facebook:hover{
  filter: drop-shadow(0 0 0.12rem #3b5998);
}
.fa-x-twitter:hover {
  filter: drop-shadow(0 0 0.12rem #000000);
}
.fa-instagram:hover { 
   filter: drop-shadow(0 0 0.12rem #d62976)
}
.fa-whatsapp:hover {
  filter: drop-shadow(0 0 0.12rem #25d366);
}
.fa-linkedin-in:hover {
  filter: drop-shadow(0 0 0.12rem #0e76a8);
}
.fa-github:hover {
  filter: drop-shadow(0 0 0.12rem #211f1f)
}
